.sticky-nav-middle {
    background-color: #4c4c4c;
}

body {
    font-family: sans-serif;
}


.navbar-toggler {
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 0 0 transparent !important;
}

.nav-link {
    color: #fff;
    font-weight: 500;
}

/*.slider-toparea {
    position: absolute;
    top: 0;
    z-index: -2;
}*/


.carousel-control-prev-icon:hover {
    background-color: rgb(44, 172, 97);
}

.carousel-control-next-icon:hover {
    background-color: rgb(44, 172, 97);
}

.carousel-control-prev-icon {
    border-radius: 50%;
    border: solid 1px #4c4c4c;
    width: 45px;
    height: 45px;
}

.carousel-control-next-icon {
    border-radius: 50%;
    border: solid 1px #4c4c4c;
    width: 45px;
    height: 45px;
}

.carousel-control-prev-icon {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.service-btn-green {
    background-color: #28AE60;
    border-color: #28AE60;
    color: #fff;
    width: 150px;
    height: 45px;

}

.service-btn-transparent {
    background: transparent;
    border-color: #fff;
    color: #fff;
    width: 200px;
    height: 45px;

}

.service-btn-transparent:hover {
    background-color: #28AE60;
    border-color: #28AE60;
    color: #fff;
}


h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
}

.service-section-title {
    margin-top: 10vh;
    margin-bottom: 10vh;
}




@media screen and (max-width:767px) {

    .text {
        font-size: calc(11px + 1vw);
    }

    .hidden-row {
        display: none;
    }

    .sticky-nav-middle {
        background-color: #4c4c4c;
    }

    .sticky-nav-right {
        display: none;
    }

    #top-nav {
        display: none;
    }

    .slider-toparea {
        position: absolute;
        top: 0;
        z-index: -2;
    }

    .slider-text {
        color: white;
        background-color: chocolate;
        top: -65vh;
        right: -15vw;
    }

    h2 {
        font-size: 40px;
        line-height: 40px;
        font-family: sans-serif;
    }



    .h3 {
        margin-top: 17px;
        font-weight: 600;
    }

    .service-box-bgoverlay {
        background-color: rgba(70, 70, 70, 0.3);
        height: 70vh;
    }

    .service-box1-bg {
        height: 70vh;
        background-image: url(../images/1md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .service-box1-hover {
        background: #28AE60;
        top: -70vh;
        height: 70vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box1-bg:hover .service-box-hover {
        transform: scaleY(1)
    }

    .service-box2-bg {
        height: 70vh;
        background-image: url(../images/2md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box2-hover {
        background: #28AE60;
        top: -70vh;
        height: 70vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box2-bg:hover .service-box2-hover {
        transform: scaleY(1)
    }

    .service-box3-bg {
        height: 70vh;
        background-image: url(../images/3md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box3-hover {
        background: #28AE60;
        top: -70vh;
        height: 70vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box3-bg:hover .service-box3-hover {
        transform: scaleY(1)
    }

    .about-image {
        height: 90vh;
        background-image: url(../images/banner3.xs.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-info {
        padding: 50px 10px;
        color: #727272;
    }

    .about-info h3 {
        color: #212529;
    }

    li {
        color: #727272;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .info-list {
        list-style-type: none;
        padding: 0;
    }

    .bi-check-circle {
        color: #28AE60;
    }

    .about-btn a {
        background-color: #28AE60;
        width: 25vw;
    }

    .counter-area {
        background-color: rgb(246, 251, 255);
    }

    .single-counter {
        color: #212529;
        margin-bottom: 30px;
    }

    .single-counter h3 {
        font-family: sans-serif;
        font-size: 45px;
    }

    .counter1-margin {
        margin-top: 80px;
    }

    .counter-text {
        color: #919191;
        font-weight: 400;
    }

    .gallery-section-title p {
        color: #727272;
        font-weight: 400;
        line-height: 28px;
    }

    .portfolio-image {
        background-position: center;
        background-size: cover;
        height: 100vh;
        transition: all 200ms linear 0s;
    }

    .portfolio-bg4 {
        height: 60vh !important;
    }

    .portfolio-bg1 {
        background-image: url(../images/recentwork1.xs.webp);
    }

    .portfolio-bg2 {
        background-image: url(../images/recentwork2.xs.webp);
    }

    .portfolio-bg3 {
        background-image: url(../images/recentwork3.xs.webp);
    }

    .portfolio-bg4 {
        background-image: url(../images/recentwork4.xs.webp);
    }

    .portfolio-bg5 {
        background-image: url(../images/recentwork5.xswebp.webp);
    }

    .single-gallery1:hover .portfolio-bg1 {
        transform: scale(1.4);
    }

    .single-gallery2:hover .portfolio-bg2 {
        transform: scale(1.4);
    }

    .single-gallery3:hover .portfolio-bg3 {
        transform: scale(1.4);
    }

    .single-gallery4:hover .portfolio-bg4 {
        transform: scale(1.4);
    }

    .single-gallery5:hover .portfolio-bg5 {
        transform: scale(1.4);
    }

    .gallery-hover {
        background-color: #28AE60;
        transform: scaleX(0);
        transition: all 200ms linear 0s;
    }

    .portfolio-bg1:hover .gallery-hover {
        transform: scaleX(1);
    }

    .more-works-btn {
        outline: 1px solid #28AE60;
        color: #28AE60;
        width: 30%;
    }

    .more-works-btn:hover {
        background-color: #28AE60;
        color: white;
    }

    .wraparea-bg {
        background-image: url(../images/about_bg.md.png.webp);
        background-position: left;
        background-size: cover;

    }

    .single-wrap {
        height: 70vh;

        border-color: rgb(154, 154, 154);

    }

    .single-wrap:hover {
        background-color: #28AE60;
    }

    .single-wrap p {
        color: rgb(220, 220, 220);
    }

    .single-wrap span {
        font-size: 34px;
    }

    .wrap-item1 {
        margin-top: 20vh;
        margin-bottom: 5vh;
    }

    .wrap-item2 {
        margin-bottom: 5vh;
    }

    .wrap-item3 {
        margin-bottom: 20vh;
    }

    .finance-text h3 {
        line-height: 55px;
        font-weight: 400;
        color: #2C2C2C;
        margin-bottom: 20px;
    }

    .finance-text p {
        line-height: 28px;
        color: #727272;

    }

    .finance-text {
        margin-bottom: 3vh;
        height: 70vh;
    }

    .finance-image {
        height: 70vh;
        background-image: url(../images/finance.xs.webp);
        background-position: center;
        background-size: cover;
    }

    .testemonial-area {
        margin-top: 10vh;
    }

    .carousel-item p {
        line-height: 32px;
        color: #727272;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 24px;
        font-size: 20px;
    }

    .carousel-item h4 {
        font-size: 16px;
        color: #2C2C2C;
        font-weight: 400;
        text-transform: uppercase;
    }

    .carousel-item span {
        color: #727272;
        font-size: 15px;
    }

    .carousel-indicators {
        background-color: aquamarine;
        position: relative;
        top: 20px;
        margin-bottom: 50px;
    }

    .indicator {
        position: relative;
        margin-bottom: 30px;

    }

    .indicator:hover {
        cursor: pointer;
    }

    .indicator-image1 {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: -40px;
    }

    .indicator-image2 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 16px;
        left: 0;
    }

    .indicator-image3 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 16px;
        left: 20px;
    }

    .project-info {
        background-color: #28AE60;
        color: white;
        height: 70vh;
        margin-top: 70px;
        line-height: 28px;

    }

    .project-info a {
        border: 1px solid #fff;
        color: white;
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        letter-spacing: 2px;
        width: 30%;

    }



}

@media screen and (min-width:768px) and (max-width:991px) {

    .text {
        font-size: calc(10px + 0.75vw);
    }

    .invisilble-row {
        display: none;
    }

    .col-hidden {
        display: none;
    }

    #top-nav {
        display: none;
    }

    .sticky-nav-right {
        display: none;
    }

    .sticky-nav-middle {
        background-color: #4c4c4c;
    }

    .slider-text {
        color: white;
        background-color: chocolate;
        top: -65vh;
        right: -15vw;
    }
}





@media screen and (min-width:992px) and (max-width:1199px) {

    .col-hidden {
        display: none;
    }

    .invisilble-row {
        display: none;
    }

    .text {
        font-size: calc(10px + 1vw);
    }

    .topnav-area {
        background: rgba(44, 44, 44, 0.5);
    }

    #top-nav ul {
        list-style-type: none;
    }

    .header-bottom-border {
        border-bottom: 1px solid #4B4E50;
    }

    .btn-quote {
        background-color: rgb(44, 172, 97);
        color: white;
    }

    .btn-quote:hover {
        background-color: rgb(44, 172, 97);
        color: white;
    }

    .social-media-icon:hover {
        color: rgb(44, 172, 97);
    }

    .bi-envelope {
        color: rgb(44, 172, 97);
    }

    .bi-telephone-fill {
        color: rgb(44, 172, 97);
    }

    .nav-item-hover:hover a {
        color: rgb(44, 172, 97);
    }

    .slider-text {
        color: white;
        background-color: chocolate;
        top: -65vh;
        right: -15vw;
    }

    .service-box-bgoverlay {
        background-color: rgba(70, 70, 70, 0.3);
        height: 70vh;
    }

    .service-box1-bg {
        height: 70vh;
        background-image: url(../images/1md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .service-box1-hover {
        background: #28AE60;
        top: -70vh;
        height: 70vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box1-bg:hover .service-box1-hover {
        transform: scaleY(1)
    }

    .service-box2-bg {
        height: 70vh;
        background-image: url(../images/2md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box2-hover {
        background: #28AE60;
        top: -70vh;
        height: 70vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box2-bg:hover .service-box2-hover {
        transform: scaleY(1)
    }

    .service-box3-bg {
        height: 70vh;
        background-image: url(../images/3md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box3-hover {
        background: #28AE60;
        top: -70vh;
        height: 70vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box3-bg:hover .service-box3-hover {
        transform: scaleY(1)
    }

    .about-image {
        height: 90vh;
        background-image: url(../images/banner3.xs.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-info {
        padding: 50px 10px;
        color: #727272;
    }

    .about-info h3 {
        color: #212529;
    }

    li {
        color: #727272;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .info-list {
        list-style-type: none;
        padding: 0;
    }

    .bi-check-circle {
        color: #28AE60;
    }

    .about-btn a {
        background-color: #28AE60;
        width: 25vw;
    }

    .counter-area {
        background-color: rgb(246, 251, 255);
    }

    .single-counter {
        color: #212529;
        margin-bottom: 30px;
    }

    .single-counter h3 {
        font-family: sans-serif;
        font-size: 45px;
    }

    .counter1-margin {
        margin-top: 80px;
    }

    .counter-text {
        color: #919191;
        font-weight: 400;
    }

    .gallery-section-title p {
        color: #727272;
        font-weight: 400;
        line-height: 28px;
    }

    .portfolio-image {
        background-position: center;
        background-size: cover;
        height: 100vh;
        transition: all 200ms linear 0s;
    }

    .portfolio-bg4 {
        height: 60vh !important;
    }

    .portfolio-bg1 {
        background-image: url(../images/recentwork1.xs.webp);
    }

    .portfolio-bg2 {
        background-image: url(../images/recentwork2.xs.webp);
    }

    .portfolio-bg3 {
        background-image: url(../images/recentwork3.xs.webp);
    }

    .portfolio-bg4 {
        background-image: url(../images/recentwork4.xs.webp);
    }

    .portfolio-bg5 {
        background-image: url(../images/recentwork5.xswebp.webp);
    }

    .single-gallery1:hover .portfolio-bg1 {
        transform: scale(1.4);
    }

    .single-gallery2:hover .portfolio-bg2 {
        transform: scale(1.4);
    }

    .single-gallery3:hover .portfolio-bg3 {
        transform: scale(1.4);
    }

    .single-gallery4:hover .portfolio-bg4 {
        transform: scale(1.4);
    }

    .single-gallery5:hover .portfolio-bg5 {
        transform: scale(1.4);
    }

    .gallery-hover {
        background-color: #28AE60;
        transform: scaleX(0);
        transition: all 200ms linear 0s;
    }

    .portfolio-bg1:hover .gallery-hover {
        transform: scaleX(1);
    }

    .more-works-btn {
        outline: 1px solid #28AE60;
        color: #28AE60;
        width: 30%;
    }

    .more-works-btn:hover {
        background-color: #28AE60;
        color: white;
    }

    .wraparea-bg {
        background-image: url(../images/about_bg.md.png.webp);
        background-position: left;
        background-size: cover;

    }

    .single-wrap {
        height: 70vh;

        border-color: rgb(154, 154, 154);

    }

    .single-wrap:hover {
        background-color: #28AE60;
    }

    .single-wrap p {
        color: rgb(220, 220, 220);
    }

    .single-wrap span {
        font-size: 34px;
    }

    .wrap-item1 {
        margin-top: 20vh;
        margin-bottom: 5vh;
    }

    .wrap-item2 {
        margin-bottom: 5vh;
    }

    .wrap-item3 {
        margin-bottom: 20vh;
    }

    .finance-text h3 {
        line-height: 55px;
        font-weight: 400;
        color: #2C2C2C;
        margin-bottom: 20px;
    }

    .finance-text p {
        line-height: 28px;
        color: #727272;

    }

    .finance-text {
        margin-bottom: 3vh;
        height: 70vh;
    }

    .finance-image {
        height: 70vh;
        background-image: url(../images/finance.xs.webp);
        background-position: center;
        background-size: cover;
    }

    .testemonial-area {
        margin-top: 10vh;
    }

    .carousel-item p {
        line-height: 32px;
        color: #727272;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 24px;
        font-size: 20px;
    }

    .carousel-item h4 {
        font-size: 16px;
        color: #2C2C2C;
        font-weight: 400;
        text-transform: uppercase;
    }

    .carousel-item span {
        color: #727272;
        font-size: 15px;
    }

    .carousel-indicators {
        background-color: aquamarine;
        position: relative;
        top: 20px;
        margin-bottom: 50px;
    }

    .indicator {
        position: relative;
        margin-bottom: 30px;

    }

    .indicator:hover {
        cursor: pointer;
    }

    .indicator-image1 {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: -40px;
    }

    .indicator-image2 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 16px;
        left: 0;
    }

    .indicator-image3 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 16px;
        left: 20px;
    }

    .project-info {
        background-color: #28AE60;
        color: white;
        height: 70vh;
        margin-top: 70px;
        line-height: 28px;

    }

    .project-info a {
        border: 1px solid #fff;
        color: white;
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        letter-spacing: 2px;
        width: 30%;

    }







    .about-info {
        padding: 50px 10px;
        color: #727272;
    }

    .about-info h3 {
        color: #212529;
    }

    li {
        color: #727272;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .info-list {
        list-style-type: none;
        padding: 0;
    }

    .bi-check-circle {
        color: #28AE60;
    }

    .about-btn a {
        background-color: #28AE60;
        width: 9vw;
        height: 45px;
        font-size: 18px;
    }

    .counter-area {
        background-color: rgb(246, 251, 255);
        height: 30vh;
        margin-bottom: 20vh;
    }

    .single-counter {
        color: #212529;
        height: 30vh;
    }

    .single-counter h3 {
        font-family: sans-serif;
        font-size: 45px;
    }

    .counter-text {
        color: #919191;
        font-weight: 400;
    }

    .single-gallery1 {
        overflow: hidden;
    }

    .single-gallery2 {
        overflow: hidden;
    }

    .single-gallery3 {
        overflow: hidden;
    }

    .single-gallery4 {
        overflow: hidden;
    }

    .single-gallery5 {
        overflow: hidden;
    }

    .gallery-section-title p {
        color: #727272;
        font-weight: 400;
        line-height: 28px;
    }

    .portfolio-image {
        background-position: center;
        background-size: cover;
        height: 50vh;
        transition: all 300ms linear 0s;
    }


    .portfolio-bg1 {
        background-image: url(../images/recentwork1.xs.webp);

    }

    .portfolio-bg2 {
        background-image: url(../images/recentwork2.xs.webp);
    }

    .portfolio-bg3 {
        background-image: url(../images/recentwork3.xs.webp);
    }

    .portfolio-bg4 {
        background-image: url(../images/recentwork4.xs.webp);
    }

    .portfolio-bg5 {
        background-image: url(../images/recentwork5.xswebp.webp);
    }

    .single-gallery1:hover .portfolio-bg1 {
        transform: scale(1.2);

    }

    .single-gallery2:hover .portfolio-bg2 {
        transform: scale(1.2);
    }

    .single-gallery3:hover .portfolio-bg3 {
        transform: scale(1.2);
    }

    .single-gallery4:hover .portfolio-bg4 {
        transform: scale(1.2);
    }

    .single-gallery5:hover .portfolio-bg5 {
        transform: scale(1.2);
    }

    .gallery-hover {
        background-color: rgba(40, 174, 96, 0.6);
        transform: scaleX(0);
        transition: all 300ms linear 0s;
    }

    .portfolio-bg1:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg2:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg3:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg4:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg5:hover .gallery-hover {
        transform: scaleX(1);
    }

    .more-works-btn {
        outline: 1px solid #28AE60;
        color: #28AE60;
        width: 12%;
        margin-bottom: 10vh;
    }

    .more-works-btn:hover {
        background-color: #28AE60;
        color: white;
        border-color: #28AE60;
    }

    .wraparea-bg {
        background-image: url(../images/about_bg.md.png.webp);
        background-position: left;
        background-size: cover;
        height: 70vh;

    }

    .wraparea-bgoverlay {
        background-color: rgba(50, 50, 50, 0.5);
    }

    .single-wrap {
        height: 35vh;
        border-color: rgb(154, 154, 154);
        transition: all 250ms linear 0s;
    }

    .single-wrap:hover {
        background-color: #28AE60;
    }

    .single-wrap p {
        color: rgb(220, 220, 220);
    }

    .single-wrap span {
        font-size: 34px;
    }

    .wrap-item1 {
        margin-top: 17vh;

    }

    .wrap-item2 {
        margin-top: 17vh;
    }

    .wrap-item3 {
        margin-top: 17vh;
    }

    .finantial-area {
        margin-top: 12vh;

        height: 50vh;
    }

    .carousel {
        padding-top: 8vh;
    }

    .carousel-finantial-btn1 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        top: -10%;

    }

    .carousel-finantial-btn2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        top: -22%;
        right: -10%;
    }

    .carousel-btn:hover {
        background-color: #28AE60;
    }

    .carousel-btn:hover .btn-span {
        color: #fff;

    }

    .btn-span {
        padding-top: 13px;
        height: 50px;
        width: 50px;
        color: #28AE60;

        border-radius: 50%;
        border: 1px solid rgb(154, 154, 154);
    }


    .finance-text h3 {
        line-height: 55px;
        font-weight: 400;
        color: #2C2C2C;
        margin-bottom: 20px;
    }

    .finance-text p {
        line-height: 28px;
        color: #727272;

    }

    .finance-text {
        text-decoration: none !important;
        font-size: 14px;

    }

    .finance-image {
        height: 50vh;
        background-image: url(../images/finance.xs.webp);
        background-position: center;
        background-size: cover;
    }

    .testemonial-area {
        margin-top: 10vh;
    }

    .testemonial-text {
        line-height: 32px;
        color: #727272;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .carousel-indicators {
        height: 60px;
        position: relative;
        top: 20px;
        margin-bottom: 50px;
    }

    .btn-indicator1 {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        background-image: url(../images/profile.md1.png.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        top: -50px;
    }

    .btn-indicator2 {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
        background-image: url(../images/profile.md1.png.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        top: -30px;
        left: 15px;
    }

    .btn-indicator3 {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
        background-image: url(../images/profile.md1.png.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        top: -30px;
        left: 25px;
    }

    .carousel-item h4 {
        font-size: 16px;
        color: #2C2C2C;
        font-weight: 400;
        text-transform: uppercase;
    }

    .carousel-item span {
        color: #727272;
        font-size: 15px;
    }

    .project-info-area {
        background-color: #28AE60;
        height: 50vh;
    }

    .project-info {
        color: white;
        width: 45%;

        line-height: 28px;

    }

    .project-info a {
        border: 1px solid #fff;
        color: white;
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        letter-spacing: 2px;
        width: 20%;
    }

    .project-info a:hover {
        background-color: #fff;
        color: #28AE60;
    }

    .top-footer {
        padding-top: 15vh;
        padding-bottom: 130px;
        background: #2C2C2C;
    }

    .footer-title {
        font-weight: 400;
        color: #fff;
        margin-bottom: 40px;

    }

    .widget p {
        color: #C7C7C7;
    }

    .widget1 p {
        color: #C7C7C7;
    }

    .widget ul {
        list-style-type: none;
        font-size: 20px;
    }

    .widget ul a {
        color: #C7C7C7;
        text-decoration: none;
        list-style-type: none;
        font-size: 20px;
    }

    .widget li {
        color: #C7C7C7;
    }

    .widget1 ul a {
        color: #C7C7C7;
        text-decoration: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #727272;
        text-align: center;
        padding-top: 6px;
    }

    .widget1 ul {
        list-style-type: none;
        font-size: 20px;
    }

    .ul-sociallinks a:hover{
        background-color: #28AE60;
        color: #fff;
    }

    .widget a:hover{
         color: #28AE60;
    }

    .bottom-footer{
        height: 10vh;
        background-color: #222;
    }

    .bottom-footer a{
        color: #28AE60;
        text-decoration: none;
    }

    .copyright-text{
        color: #C7C7C7;
        padding-top: 4vh;
       
    }





}




@media screen and (min-width:1200px) {

    .text {
        font-size: calc(8px + 0.5vw);
    }

    .hidden-row {
        display: none;
    }

    #top-nav {
        background: rgba(44, 44, 44, 0.5);
    }

    #top-nav ul {
        list-style-type: none;
    }

    .header-bottom-border {
        border-bottom: 1px solid #4B4E50;
    }

    /*.topnav-itemleft{
        margin-left: 12%;
    }
    .topnav-itemright{
        margin-right: 12%;
    }*/

    .btn-quote {
        background-color: rgb(44, 172, 97);
        color: white;
    }

    .btn-quote:hover {
        background-color: rgb(44, 172, 97);
        color: white;
    }

    .social-media-icon:hover {
        color: rgb(44, 172, 97);
    }

    .bi-envelope {
        color: rgb(44, 172, 97);
    }

    .bi-telephone-fill {
        color: rgb(44, 172, 97);
    }

    .nav-item-hover:hover a {
        color: rgb(44, 172, 97);
    }

    .slider-text {
        color: white;
        background-color: chocolate;
        top: -65vh;
        right: -15vw;
    }

    h2 {
        font-size: 45px;
        line-height: 50px;
        font-family: sans-serif;
    }

    .service-section {
        margin-bottom: 15vh;
    }

    .service-box1-bg {
        height: 40vh;
        background-image: url(../images/1md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box-bgoverlay {
        background-color: rgba(70, 70, 70, 0.3);
        height: 40vh;
    }

    .service-box1-hover {
        background: #28AE60;
        padding-left: 10px;
        padding-right: 10px;
        top: -40vh;
        height: 40vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box1-bg:hover .service-box1-hover {
        transform: scaleY(1)
    }

    .service-box2-bg {
        height: 40vh;
        background-image: url(../images/2md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box2-hover {
        background: #28AE60;
        padding-left: 10px;
        padding-right: 10px;
        top: -40vh;
        height: 40vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box2-bg:hover .service-box2-hover {
        transform: scaleY(1)
    }

    .service-box3-bg {
        height: 40vh;
        background-image: url(../images/3md.png.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-box3-hover {
        background: #28AE60;
        padding-left: 10px;
        padding-right: 10px;
        top: -40vh;
        height: 40vh;
        transition: all 200ms linear 0s;
        transform: scaleY(0)
    }

    .service-box3-bg:hover .service-box3-hover {
        transform: scaleY(1)
    }

    .about-image {
        height: 90vh;
        background-image: url(../images/banner3.xs.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-info {
        padding: 50px 10px;
        color: #727272;
    }

    .about-info h3 {
        color: #212529;
    }

    li {
        color: #727272;
        margin-bottom: 5px;
        font-weight: 400;
    }

    .info-list {
        list-style-type: none;
        padding: 0;
    }

    .bi-check-circle {
        color: #28AE60;
    }

    .about-btn a {
        background-color: #28AE60;
        width: 9vw;
        height: 45px;
        font-size: 18px;
    }

    .counter-area {
        background-color: rgb(246, 251, 255);
        height: 30vh;
        margin-bottom: 20vh;
    }

    .single-counter {
        color: #212529;
        height: 30vh;
    }

    .single-counter h3 {
        font-family: sans-serif;
        font-size: 45px;
    }

    .counter-text {
        color: #919191;
        font-weight: 400;
    }

    .single-gallery1 {
        overflow: hidden;
    }

    .single-gallery2 {
        overflow: hidden;
    }

    .single-gallery3 {
        overflow: hidden;
    }

    .single-gallery4 {
        overflow: hidden;
    }

    .single-gallery5 {
        overflow: hidden;
    }

    .gallery-section-title p {
        color: #727272;
        font-weight: 400;
        line-height: 28px;
    }

    .portfolio-image {
        background-position: center;
        background-size: cover;
        height: 50vh;
        transition: all 300ms linear 0s;
    }


    .portfolio-bg1 {
        background-image: url(../images/recentwork1.xs.webp);

    }

    .portfolio-bg2 {
        background-image: url(../images/recentwork2.xs.webp);
    }

    .portfolio-bg3 {
        background-image: url(../images/recentwork3.xs.webp);
    }

    .portfolio-bg4 {
        background-image: url(../images/recentwork4.xs.webp);
    }

    .portfolio-bg5 {
        background-image: url(../images/recentwork5.xswebp.webp);
    }

    .single-gallery1:hover .portfolio-bg1 {
        transform: scale(1.2);

    }

    .single-gallery2:hover .portfolio-bg2 {
        transform: scale(1.2);
    }

    .single-gallery3:hover .portfolio-bg3 {
        transform: scale(1.2);
    }

    .single-gallery4:hover .portfolio-bg4 {
        transform: scale(1.2);
    }

    .single-gallery5:hover .portfolio-bg5 {
        transform: scale(1.2);
    }

    .gallery-hover {
        background-color: rgba(40, 174, 96, 0.6);
        transform: scaleX(0);
        transition: all 300ms linear 0s;
    }

    .portfolio-bg1:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg2:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg3:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg4:hover .gallery-hover {
        transform: scaleX(1);
    }

    .portfolio-bg5:hover .gallery-hover {
        transform: scaleX(1);
    }

    .more-works-btn {
        outline: 1px solid #28AE60;
        color: #28AE60;
        width: 12%;
        margin-bottom: 10vh;
    }

    .more-works-btn:hover {
        background-color: #28AE60;
        color: white;
        border-color: #28AE60;
    }

    .wraparea-bg {
        background-image: url(../images/about_bg.md.png.webp);
        background-position: left;
        background-size: cover;
        height: 70vh;

    }

    .wraparea-bgoverlay {
        background-color: rgba(50, 50, 50, 0.5);
    }

    .single-wrap {
        height: 35vh;
        border-color: rgb(154, 154, 154);
        transition: all 250ms linear 0s;
    }

    .single-wrap:hover {
        background-color: #28AE60;
    }

    .single-wrap p {
        color: rgb(220, 220, 220);
    }

    .single-wrap span {
        font-size: 34px;
    }

    .wrap-item1 {
        margin-top: 17vh;

    }

    .wrap-item2 {
        margin-top: 17vh;
    }

    .wrap-item3 {
        margin-top: 17vh;
    }

    .finantial-area {
        margin-top: 12vh;

        height: 50vh;
    }

    .carousel {
        padding-top: 8vh;
    }

    .carousel-finantial-btn1 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        top: -10%;

    }

    .carousel-finantial-btn2 {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        top: -22%;
        right: -10%;
    }

    .carousel-btn:hover {
        background-color: #28AE60;
    }

    .carousel-btn:hover .btn-span {
        color: #fff;

    }

    .btn-span {
        padding-top: 13px;
        height: 50px;
        width: 50px;
        color: #28AE60;

        border-radius: 50%;
        border: 1px solid rgb(154, 154, 154);
    }


    .finance-text h3 {
        line-height: 55px;
        font-weight: 400;
        color: #2C2C2C;
        margin-bottom: 20px;
    }

    .finance-text p {
        line-height: 28px;
        color: #727272;

    }

    .finance-text {
        text-decoration: none !important;
        font-size: 14px;

    }

    .finance-image {
        height: 50vh;
        background-image: url(../images/finance.xs.webp);
        background-position: center;
        background-size: cover;
    }

    .testemonial-area {
        margin-top: 10vh;
    }

    .testemonial-text {
        line-height: 32px;
        color: #727272;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .carousel-indicators {
        height: 60px;
        position: relative;
        top: 20px;
        margin-bottom: 50px;
    }

    .btn-indicator1 {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        background-image: url(../images/profile.md1.png.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        top: -50px;
    }

    .btn-indicator2 {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
        background-image: url(../images/profile.md1.png.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        top: -30px;
        left: 15px;
    }

    .btn-indicator3 {
        width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
        background-image: url(../images/profile.md1.png.webp);
        background-position: center;
        background-size: cover;
        position: relative;
        top: -30px;
        left: 25px;
    }

    .carousel-item h4 {
        font-size: 16px;
        color: #2C2C2C;
        font-weight: 400;
        text-transform: uppercase;
    }

    .carousel-item span {
        color: #727272;
        font-size: 15px;
    }

    .project-info-area {
        background-color: #28AE60;
        height: 50vh;
    }

    .project-info {
        color: white;
        width: 45%;

        line-height: 28px;

    }

    .project-info a {
        border: 1px solid #fff;
        color: white;
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        letter-spacing: 2px;
        width: 20%;
    }

    .project-info a:hover {
        background-color: #fff;
        color: #28AE60;
    }

    .top-footer {
        padding-top: 15vh;
        padding-bottom: 130px;
        background: #2C2C2C;
    }

    .footer-title {
        font-weight: 400;
        color: #fff;
        margin-bottom: 40px;

    }

    .widget p {
        color: #C7C7C7;
    }

    .widget1 p {
        color: #C7C7C7;
    }

    .widget ul {
        list-style-type: none;
        font-size: 20px;
    }

    .widget ul a {
        color: #C7C7C7;
        text-decoration: none;
        list-style-type: none;
        font-size: 20px;
    }

    .widget li {
        color: #C7C7C7;
    }

    .widget1 ul a {
        color: #C7C7C7;
        text-decoration: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #727272;
        text-align: center;
        padding-top: 6px;
    }

    .widget1 ul {
        list-style-type: none;
        font-size: 20px;
    }

    .ul-sociallinks a:hover{
        background-color: #28AE60;
        color: #fff;
    }

    .widget a:hover{
         color: #28AE60;
    }

    .bottom-footer{
        height: 10vh;
        background-color: #222;
    }

    .bottom-footer a{
        color: #28AE60;
        text-decoration: none;
    }

    .copyright-text{
        color: #C7C7C7;
        padding-top: 4vh;
       
    }


    








}